Repository hashicorp/terraform-provider-tfe, pull requests merged in 2021-04, with the labels that each got.

#295 Remove deprecated external_id/external_ids attributes
  CHANGELOG.md
  tfe/data_source_workspace.go
  tfe/data_source_workspace_ids.go
  tfe/data_source_workspace_ids_test.go
  tfe/data_source_workspace_test.go
  tfe/resource_tfe_workspace.go
  website/docs/d/workspace_ids.html.markdown
Labels: breaking-change, deprecation, documentation, technical-debt, wip

#297 Fix remote state consumer tests
  tfe/resource_tfe_workspace_test.go
Labels: bug

#302 Update CHANGELOG.md to note incompatibility with older TFE versions
  CHANGELOG.md
Labels: breaking-change, documentation

#303 Fix remote state consumers compatibility for Terraform Enterprise
  CHANGELOG.md
  tfe/client_mock.go
  tfe/resource_tfe_team_access_migrate_test.go
  tfe/resource_tfe_variable_migrate_test.go
  tfe/resource_tfe_workspace.go
  tfe/testing.go
  tfe/workspace_helpers.go
  tfe/workspace_helpers_test.go
  website/docs/d/workspace.html.markdown
  website/docs/r/workspace.html.markdown
Labels: bug
